{% extends 'layout/base.html' %}{% block content %}

{% if 'username' in session %}

{% include 'components/skills-section.html' %}

{% include 'components/portfolio-section.html' %}

{% include 'layout/footer.html' %}

{% else %}
{% include 'components/canvas.html' %}

{% include 'components/about-section.html' %}

{% include 'components/skills-section.html' %}

{% include 'components/portfolio-section.html' %}

{% include 'components/contact-section.html' %}

{% include 'layout/footer.html' %}
{% endif %}

{% endblock %}