/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

/* Html */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Body */

/* Headings */
.main-head{
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
    text-align: center;
    padding: 2rem 0;
}

/* Buttons */
.btn-primary{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    background-color: #ffcd24;
    border: 1px solid #ffcd24;
    transition: opacity 0.5s, background-color 0.5s, border 1px solid #ffcd24;
}

.btn-primary:hover{
    opacity: 0.8;
    background-color: #ffcd24;
    border: 1px solid #ffcd24;
}

.project-btn{
    position: relative;
    top: 200px;
    transition: top 1s, opactiy 0.5s;
}

.project-btn:hover{
    opacity: 0.8;
}

.project-card:hover .project-btn{
    top: 120px;
}

/* Navbar */
.navbar{
    font-size: 1.75rem;
    border-bottom: 2px solid #ffcd24;
    background-color: #33393d;
}

.nav-link{
    color: #fcfcfc;
}

/* Skills-section */
#skills-container{
    background-color: #fbfcff;
}


#skills-container .round{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

#skills-container .round strong{
    position: absolute;
    top: 50%;
    right: 37%;
    margin-top: -35px;
    transform: translate(-50%);
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: 400;
}

#circle-info{
    margin-top: 20px;
}

#skills-container span{
    font-size: 17px;
    margin-top: 10px;
}

#skills-container i{
    color: #2aabe4;
    font-size: 22px;
    margin-right: 7px;
}

/* Portfolio-section */
#portfolio-section{
    background-color: #eaecec;
}

.image-row{
    height: 30rem;
    padding: 0 5rem;
    margin: 0;
    overflow: hidden;
}

.image-col{
    padding: 0;
}
.project-card{
    border: 0;
}

.project-card > *:not(.card-img-overlay){
    transition: opacity 1s;
    transition-timing-function: ease;
}

.project-card:hover > *:not(.card-img-overlay){
    opacity: 0.2;
}

.card-img-overlay{
    opacity: 0;
    transition: opacity 1s;
    transition-timing-function: ease;
}

.card-img-overlay:hover{
    opacity: 1;
}

.project-card-title{
    position: relative;
    top: 0;
    transition: top ease 1s;
}

.project-card:hover .project-card-title{
    top: 100px;
}

.project-card-text{
    position: relative;
    top: 0;
    transition: top ease 1s;
}

.project-card:hover .project-card-text{
    top: 100px;
}

/* Contact-section */
#contact-section{
    background-color: #1478a3;
}

.contact-row{
    padding-bottom: 4rem;
}

/* Footer */
#footer-container{
    height: 5rem;
    background-color: #33393d;
}

#social-links{
    text-align: right;
    margin: 0;
}

#social-links li {
    display: inline;
}

#social-links i {
    font-size: 3rem;
    margin-top: 1rem;
    color: #fbfcff;
}

/* Project.html */
.project_image img{
    height: 60rem;
    width: 100%;
    overflow: hidden;
}
