/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata&display=swap");

/* Html */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Body */
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* Canvas */
#hero {
  background-color: #fff;
  width: 100%;
}

.canvas-text {
  position: relative;
}

#hero-topleft {
  position: absolute;
  top: 20vh;
  left: 5vw;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 2.5rem;
}

#hero-topright {
  position: absolute;
  top: 3vh;
  right: 10vw;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fadein;
  animation-name: fadein;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

#hero-bottomleft {
  position: absolute;
  top: 35vh;
  left: 15vw;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fadein;
  animation-name: fadein;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

#hero-bottomright {
  position: absolute;
  top: 25vh;
  right: 5vw;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fadein;
  animation-name: fadein;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.hero-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fake-code {
  font-family: "Inconsolata", sans-serif;
  font-size: 1rem;
  color: #696969;
}

.fake-text {
  color: #fff;
}

.fake-text2 {
  color: #1478a3;
}

.fake-text3 {
  color: #ffcd24;
}

.indent-1rem {
  text-indent: 1rem;
}

.indent-2rem {
  text-indent: 2rem;
}

.indent-3rem {
  text-indent: 3rem;
}

#scroll-down {
  display: none;
}

.fa-angle-double-down {
  font-size: 4rem;
  opacity: 0.5;
  color: #1478a3;
}

/* Headings */
.main-head {
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
  text-align: center;
  padding: 2rem 0;
  margin: 0;
}

.sub-head {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
  padding: 1rem 0;
}

/* Buttons */
.btn-submit {
  color: #fff;
  font-size: 1.3rem;
  padding: 5px 1rem;
  border-radius: 5px;
  border: 1px solid #ffcd24;
  background-color: #ffcd24;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn-submit:hover {
  opacity: 0.8;
  color: #fff;
}

.btn-secondary {
  font-size: 1.3rem;
  padding: 5px 1rem;
  border-radius: 5px;
  background-color: #1478a3;
  border: 1px solid #1478a3;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn-secondary:hover {
  opacity: 0.8;
  background-color: #1478a3;
  border: 1px solid #1478a3;
}

.project-btn {
  position: relative;
  top: 15rem;
  -webkit-transition: top 1s, opacity 0.5s;
  -o-transition: top 1s, opacity 0.5s;
  transition: top 1s, opacity 0.5s;
}

.modal-btn-close {
  font-size: 1.3rem;
  color: #fff;
  padding: 5px 1rem;
  border-radius: 5px;
  background-color: #33393d;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.modal-btn-close:hover {
  opacity: 0.8;
  color: #fff;
  border: 1px solid #33393d;
}

.modal-btn-delete {
  font-size: 1.3rem;
  color: #fff;
  padding: 5px 1rem;
  border-radius: 5px;
  background-color: #dc3545;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.modal-btn-delete:hover {
  opacity: 0.8;
  color: #fff;
  border: 1px solid #dc3545;
}

/* Navbar */
.navbar {
  height: 5rem;
  font-size: 1.75rem;
  border-bottom: 2px solid #ffcd24;
  background-color: #0b0a07;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #ffcd24;
}

/* About-section */
#about-section {
  background-color: #fff;
  padding: 5px 1rem 1rem 1rem;
}

#about-col {
  background-color: #eaecec;
  padding: 1rem;
  text-align: center;
}

#skills-col {
  padding: 1rem 2rem 1rem 4rem;
}

#about-scroll {
  display: block;
  position: relative;
  top: -45px;
  visibility: hidden;
}

.skill-group {
  position: relative;
  padding: 5px 0;
}

.skill {
  position: relative;
  display: block;
  width: 100%;
  background: #eaecec;
  height: 3rem;
  border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.skill-icon {
  position: absolute;
  top: 5px;
  left: -3rem;
  width: 2.5rem;
}

.skill-icon i {
  color: #000;
  font-size: 2.5rem;
  padding: 3px;
}

.skill-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  font-size: 1.4rem;
  color: #ffffff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #1478a3;
}

.skill-title span {
  display: block;
  padding: 0 1rem;
  height: 3rem;
  line-height: 3rem;
}

.skillbar {
  height: 3rem;
  width: 0px;
  background: #1a99d0;
  border-radius: 3px;
}

.skillbar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 1.2rem;
  height: 3rem;
  line-height: 3rem;
  color: #000;
  opacity: 0.6;
}

.skill-btns {
  padding-top: 5px;
}

#about-section i {
  color: #1478a3;
  font-size: 2.5rem;
  padding: 3px;
}

#add-skill.fas.fa-plus-circle {
  color: #ffcd24;
  font-size: 2.5rem;
  padding: 3px;
}

#add-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  width: 20rem;
  font-size: 1.4rem;
  color: #ffffff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #ffcd24;
}

#add-title span {
  display: block;
  padding: 0 1rem;
  height: 3rem;
  line-height: 3rem;
}

/* Projects-section */
#portfolio-section {
  background-color: #eaecec;
}

#portfolio-scroll {
  display: block;
  position: relative;
  top: -45px;
  visibility: hidden;
}

#portfolio-row {
  padding-bottom: 5rem;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.image-col {
  padding: 0;
}

.project-card {
  border: 0;
  height: 100%;
}

#project-add {
  position: relative;
  top: 0px;
  left: 0px;
  background-color: #fff;
  height: 25rem;
}

#project-plus {
  font-size: 10rem;
  position: absolute;
  top: 25%;
  color: #ffcd24;
}

/* Contact-section */
#contact-section {
  background-color: #fff;
}

#contact-scroll {
  display: block;
  position: relative;
  top: -45px;
  visibility: hidden;
}

.contact-row {
  padding-bottom: 4rem;
}

.contact-container {
  padding: 2rem;
  background-color: #1478a3;
}

.contact-text {
  color: #fff;
}

/* Modal */
.modal-header {
  border-bottom: 2px solid #ffcd24;
  background-color: #0b0a07;
}

.modal-title {
  color: #fff;
}

.modal-row {
  padding-bottom: 1rem;
}

#emailAddress {
  font-size: 1.4rem;
}

#thumb-confirm {
  display: none;
  padding-left: 1rem;
  color: #1478a3;
  font-size: 1.6rem;
}

/* Footer */
#footer-container {
  height: 5rem;
  background-color: #0b0a07;
}

#social-links {
  text-align: right;
  margin: 0;
}

#social-links li {
  display: inline;
}

#social-links i {
  font-size: 3rem;
  margin-top: 1rem;
  color: #fff;
}

/* Project.html */
.project-row {
  padding: 0 1rem;
  margin: 0;
  height: calc(100vh - 10rem);
}

.project-longtext {
  text-align: justify;
  text-justify: inter-word;
  padding: 0 4rem 0 2rem;
}

.carousel-container {
  width: 70vh;
  height: auto;
}

#carousel-projects {
  padding: 2rem 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}

.carousel-control-prev-icon {
  background-image: none;
  font-size: 5rem;
  color: #ffcd24;
}

.carousel-control-next-icon {
  background-image: none;
  font-size: 5rem;
  color: #ffcd24;
}

.links-col {
  text-align: center;
}

.link-btns {
  text-align: center;
  padding-top: 2rem;
}

.link-btn {
  margin: 1rem;
}

/* Editadd pages */
.editadd-row {
  background-color: #eaecec;
  height: calc(100vh - 10rem);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.editadd-scroll {
  overflow-y: scroll;
}

.editadd-col {
  overflow: hidden;
}

.editadd-card {
  border-color: #ffcd24;
  width: 85vw;
}

.pr-card {
  margin: 5rem 0;
}

.form-control {
  font-size: 1.4rem;
}

.form-error {
  color: #dc3545;
}

/* Media queries */
/* Large devices */
@media screen and (min-width: 1170px) {
  .project-btn {
    position: relative;
    top: 10rem;
    -webkit-transition: top 1s, opacity 0.5s;
    -o-transition: top 1s, opacity 0.5s;
    transition: top 1s, opacity 0.5s;
  }

  .project-card:hover .project-btn {
    top: 5rem;
  }

  .project-card > *:not(.card-img-overlay) {
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  .project-card:hover > *:not(.card-img-overlay) {
    opacity: 0.2;
  }

  .card-img-overlay {
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  .card-img-overlay:hover {
    opacity: 1;
  }

  .project-card-title {
    position: relative;
    top: 0;
    -webkit-transition: top ease 1s;
    -o-transition: top ease 1s;
    transition: top ease 1s;
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #1478a3;
  }

  .project-card:hover .project-card-title {
    top: 5rem;
  }

  .project-card-text {
    position: relative;
    top: 0;
    -webkit-transition: top ease 1s;
    -o-transition: top ease 1s;
    transition: top ease 1s;
  }

  .project-card:hover .project-card-text {
    top: 5rem;
  }
}

/*Tablet and above Portrait View*/
@media screen and (min-width: 768px) {
  #hero-topleft {
    top: 30vh;
    left: 10vw;
    font-size: 3rem;
  }

  #hero-topright {
    top: 10vh;
    right: 30vw;
  }

  #hero-bottomleft {
    top: 70vh;
    left: 25vw;
  }

  #hero-bottomright {
    top: 50vh;
    right: 5vw;
  }

  .fake-code {
    font-size: 1.6rem;
  }

  .fake-text {
    font-size: 2.5rem;
  }

  .fake-text2 {
    font-size: 2.5rem;
  }

  .fake-text3 {
    font-size: 2.5rem;
  }

  #scroll-down {
    position: absolute;
    display: block;
    top: 80vh;
    right: 49vw;
    text-align: center;
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
}

/*Tablet and above Landscape View*/
@media screen and (min-width: 940px) {
  .editadd-card {
    border-color: #ffcd24;
    width: 35vw;
  }

  #hero-bottomleft {
    top: 65vh;
    left: 25vw;
  }

  #hero-bottomright {
    top: 50vh;
    right: 8vw;
  }
}

/* Keyframes */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
