<section class="container-fluid" id="about-section">
  <a id="about-scroll"></a>
  <div class="row no-gutters">
    <div class="col-12">
      <h1 class="main-head">About Me</h1>
      <p class="about-text">I'm a Full Stack Developer with a passion for creating dynamic user experiences which are both eye catching, intuitive and easy to use.</p>
      <p class="about-text">As an experienced engineer I have developed skills as a logical problem solver and designer with an eye for detail.</p>
    </div>
  </div>
</section>
