<div class="canvas-text">
  <div class="hero-topleft">
    Hi, I'm Conal
  </div>
  <div class="hero-topright">
    <ul class="hero-ul">
      <li class="fake-code">&lt;html lang="en"&gt;</li>
      <li class="fake-code indent1">&lt;body&gt;</li>
      <li class="fake-code indent2">&lt;h1 class="I am an"&gt;</li>
      <li class="fake-text indent3"><h1>Engineer</h1></li>
      <li class="fake-code indent2">&lt;/h1&gt;</li>
      <li class="fake-code indent1">&lt;/body&gt;</li>
      <li class="fake-code">&lt;/html&gt;</li>
    </ul>
  </div>
  <div class="hero-bottomleft">
    <ul class="hero-ul">
      <li class="fake-code">#showoff-text {</li>
      <li class="fake-code indent2">web UI:&nbsp;<span class="fake-text2">Designer;</span></li>
      <li class="fake-code">}</li>
    </ul>
  </div>
  <div class="hero-bottomright">
    <ul class="hero-ul">
      <li class="fake-code">&lt;script&gt;</li>
      <li class="fake-code indent1">function writeStuffhere() {</li>
      <li class="fake-code indent2">return&nbsp;<span class="fake-text3">Developer;</span></li>
      <li class="fake-code indent1">};</li>
      <li class="fake-code">&lt;/script&gt;</li>
    </ul>
  </div>
</div>
<canvas id="hero"></canvas>
