<section class="container-fluid" id="contact-section">
  <div class="row">
    <div class="col-12">
      <h1>Contact Section</h1>
    </div>
    <div class="col-12">
      <!-- Button trigger modal -->
      <div class="text-center">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#contactModal"
          id="contact-btn"
        >
          Contact Me
        </button>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="contactModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="contactModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">
                Contact Me
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="contact-form">
                <div class="row">
                  <div class="col">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" />
                  </div>
                  <div class="col">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Subject">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    id="Subject"
                    placeholder="A Project to take over the world!!!!"
                    name="Subject"
                  />
                </div>
                <div class="form-group">
                  <label for="emailAddress">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="emailAddress"
                    placeholder="name@example.com"
                    name="emailAddress"
                  />
                </div>
                <div class="form-group">
                  <label for="message">Your project idea or message</label>
                  <textarea
                    class="form-control"
                    id="message"
                    rows="3"
                    name="message"
                  ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">
                  Send
                </button>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
