<section class="container-fluid" id="portfolio-section">
  <div class="row" id="portfolio-row">
    <div class="col-12">
      <h1 class="main-head">Projects</h1>
    </div>
    <div class="row image-row">
      {% for project in projects %}
      <div class="col-12 col-md-4 image-col">
        <div class="card text-center project-card">
          <img src="{{project.images[0]}}" class="card-img" alt="..." />
          <div class="card-img-overlay">
            <h5 class="card-title project-card-title">
              {{project.project_name}}
            </h5>
            <p class="card-text project-card-text">
              {{project.description}}
            </p>
            {% if 'username' in session %}
            <div>
              <a class="btn btn-secondary" href="#" role="button">Edit</a>
              <a class="btn btn-secondary" href="#" role="button">Delete</a>
            </div>
            {% else %}
            <a
              href="{{url_for('project', project_id=project._id)}}"
              target="_blank"
              rel="noopener"
              class="btn btn-primary project-btn btn-lg"
              >Visit Site</a
            >
            {% endif %}
          </div>
        </div>
      </div>
          {% endfor %} {% if 'username' in session %}
    <div class="col-12 col-md-4 image-col">
        <div class="card text-center project-card">
          <i class="fas fa-plus card-img" alt="..."></i>
          <div class="card-img-overlay">
            <h5 class="card-title project-card-title">
              Add a new project
            </h5>
            <a
              href="#"
              target="_blank"
              rel="noopener"
              class="btn btn-primary project-btn btn-lg"
              >Add</a
            >
    {% endif %}
    </div>
  </div>
</section>
