<section class="container-fluid" id="portfolio-section">
  <a id="portfolio-scroll"></a>
  <div class="row no-gutters" id="portfolio-row">
    <div class="col-12">
      <h1 class="main-head">Projects</h1>
    </div>
    {% for project in projects %}
    <div class="col-12 col-md-4 image-col">
      <div class="card text-center project-card">
        <img src="{{project.images[0]}}" class="card-img" alt="..." />
        <div class="card-img-overlay">
          <h5 class="card-title project-card-title">
            {{project.project_name}}
          </h5>
          <p class="card-text project-card-text">
            {{project.short_text}}
          </p>
          {% if 'username' in session %}
          <div>
            <a
              class="btn btn-secondary project-btn"
              href="{{url_for('edit_project', project_id=project._id)}}"
              role="button"
              >Edit</a
            >
            <button
              type="button"
              class="btn btn-secondary project-btn"
              data-toggle="modal"
              data-target="#deleteProjectModal{{project._id}}"
            >
              Delete
            </button>
          </div>
          {% else %}
          <a
            href="{{url_for('project', project_id=project._id)}}"
            target="_blank"
            rel="noopener"
            class="btn btn-submit project-btn btn-lg"
            >See More</a
          >
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Delete Project Modal -->
    <div
      class="modal fade"
      id="deleteProjectModal{{project._id}}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteProjectModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteProjectModalTitle">
              Delete Project
            </h5>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this project?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn modal-btn-close"
              data-dismiss="modal"
            >
              Close
            </button>
            <a
              class="btn modal-btn-delete"
              href="{{url_for('delete_project', project_id=project._id)}}"
              role="button"
              >Delete</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% if 'username' in session %}
    <div class="col-12 col-md-4 image-col">
      <div class="card text-center project-card">
        <i class="fas fa-plus" id="add-project" alt="..."></i>
        <div class="card-img-overlay">
          <h5 class="card-title project-card-title">
            Add a new project
          </h5>
          <a
            href="{{url_for('add_project')}}"
            class="btn btn-submit project-btn"
            >Add</a
          >
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>
