<section class="container-fluid" id="skills-container">
  <div class="row">
    <div class="col-12">
      <h1>Skills Section</h1>
    </div>
    {% for skill in skills %}
    <div class="col-4">
      <div
        class="round"
        data-value="{{skill.percent}}"
        data-size="100"
        data-thickness="12"
      >
        <strong></strong>
        <div class="circle-info">
          <i class="{{skill.skill_icon}}"></i> <span>{{skill.skill_name}}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
