{% extends 'layout/base.html' %}{% block content %}
<div class="row skill-row no-gutters">
	<div class="col editadd-col">
		<div class="card text-center mx-auto editadd-card">
			<div class="card-body">
				<h2 class="card-title sub-head">Add Skill</h2>
				<form action="" method="post" novalidate>
					{{ form.hidden_tag() }}
					<p>
						{{ form.skill_name.label }}<br>
                    {{ form.skill_name(size=40) }}
                    {% for error in form.skill_name.errors %}
						<p class="form-error">{{ error }}</p>
						{% endfor %}
					</p>
					<p>
						{{ form.percent.label }}<br>
{{ form.percent(size=40) }}
                    {% for error in form.percent.errors %}
						<p class="form-error">{{ error }}</p>
						{% endfor %}
					</p>
					<p>
						{{ form.skill_icon.label }}<br>
                    {{ form.skill_icon(size=40, placeholder="fab fa-html5 fa-fw") }}
                    {% for error in form.skill_icon.errors %}
						<p class="form-error">{{ error }}</p>
						{% endfor %}
					</p>
					<button type="submit" class="btn btn-submit">Submit</button>
					<a class="btn modal-btn-close" href="{{url_for('index')}}" role="button">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</div>
{% include 'layout/footer.html' %} {% endblock %}