<footer class="container-fluid" id="footer-container">
  <div class="row">
    <div class="col-12">
      <ul class="list-inline" id="social-links">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com" target="_blank"
            >
              <i class="fab fa-linkedin"
              aria-hidden="true"
              rel="noopener"
            ></i>
            <span class="sr-only">Linkedin link</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/Conal84" target="_blank"
            ><i
            class="fab fa-github-square"
              aria-hidden="true"
              rel="noopener"
            ></i>
            <span class="sr-only">GitHub link</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
